<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Print</title>
 <%- include('./partials/header.ejs') %>
  </head>
  <body class="bg-dark-subtle">
    <nav class="navbar bg-dark-subtle">
      
      <div class="container p-5 py-2">
        <a class="navbar-brand" href="/dashboard">Hashmi Grain & Bakers</a>
      </div>
    </nav>
    <div class="container">
      <h4>Shop# 9B CANAL HEIGHTS AA BLOCK SEC D BAHRIA TOWN LAHORE</h4>
      <h5>PH# 03234645823</h5>
<table class="table align-middle">
  <thead class="list-group mt-5 align-middle ">
    <tr class="list-group-item d-flex justify-content-around align-middle">
          <th> <span>Sr#</span></th>
          <th><span>Product</span></th>
          <th><span>Quantity</span></th>
          <th><span>Price</span></th>
        </li>
    </tr>
    </thead>
    <tbody class="list-group mt-5 align-middle">
      <% let total_price = 0 %>
      <% let date = new Date() %>
      <% orders.forEach(list=>{ %>
      <tr class="list-group-item d-flex justify-content-around align-middle">
          <td><span><%= list.orderno %></span></td>
          <td><span><%= list.productname %></span></td>
          <td><span><%= list.productquantity %> kg</span></td>
          <td><span><%= list.totalprice %>rs</span></td>
        <% total_price+=list.totalprice %>
    </tr>
    <% }) %>
    </tbody>
    </table>
    <div class="d-flex justify-content-around">
      <span class="m-5">Total Price: <%= total_price %>rs</span>
      <span class="m-5">Date: <%= date.toDateString() %></span>
      
    </div>
    
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
