<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header.ejs') %>
    <title>Dashboard</title>
    <style>
      @media (max-width: 575.98px) {
        .d-flex {
          display: flex;
          flex-direction: column;
        }
      }
    </style>
  </head>
  <body style="height: 100dvh">
    <%-include('./partials/nav.ejs')%>
    <div class="container mt-4">
      <% if (locals.message) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%=message%>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>
      <% if (locals.pricesno) { %>
       
     
<% pricesno.rows.forEach(list => { %>
 

      <form
      action="/dashboard/productprices"
      method="post"
      class="d-flex m-5 justify-content-between phoneform" ;
    >
 
      <input
        type="text"
        name="productname"
        value="<%= list.productname %>"
        class="form-control mx-3 mt-2"
        required
        disabled
      />
   
      <input
      type="text"
      name="productprice"
      value="<%= list.productprice %>"
      class="form-control mx-3 mt-2"
      required
    />
      <input type="submit" value="Edit " class="btn btn-sm btn-success mt-2 mx-3" />
    </div>
    
    </form>
    <%})%>
    <% } else {%>
        <h1>No Products</h1><%}%>
    </div>
    <%-include('./partials/footer.ejs')%>
  </body>
</html>
